body {
  background-image: linear-gradient(45deg,cyan,yellow);
}

header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: sticky;
  background-color: var(--primary-color);
  /* background-color: rgba(0, 0, 0, .8); */
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 6px #aaa;
}

header > div {
  flex: 1;
}

header .hc input {
  width: 100%;
  padding-left: 40px;
  background: url(../assets/img/search.svg) no-repeat 10px center/20px;
}

header .hr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .hr > div {
  margin-left: 20px;
}

.avatar {
  background-color: #eee;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

section {
 width: 65%;
 margin: auto; 
 padding: 10px;
 min-height: 100vh;
}

section textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 16px;
  background-color: #eee;
}
.wrap-textarea {
  position: relative;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}

.wrap-textarea button {
  margin: 20px 0;
  border-radius: 5px;
  float: right;
  padding: 10px;
  outline: none;
  border: none;
}

/* Badge */
.badge {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.badge-num {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-danger);
  color: var(--light-color);
  border-radius: 100%;
  padding: 2px;
  font-size: 14px;
}

/* POSTS */

#form-post-header {
  display: flex;
  align-items: center;
}

#form-post-header div:nth-child(1) {
  margin-right: 20px;
}

.post {
  border: 1px solid var(--grey-color);
  margin: 20px auto;
  border-radius: 10px;
  background-color: var(--light-color);
}

.post-header {
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
}

.post-body {
  height: 170px;
  padding: 20px;
}

.post-footer {
  padding: 10px;
  background-color: #f9f9f9;
}

.post-footer span {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-around;
  width: 100px;
}

.btn-like {
  background-color: #ff000071;
}

.btn-comment {
  background-color: rgba(255, 255, 0, 0.384);
}

.btn-share {
  background-color: rgba(30, 143, 255, 0.384);
}

#btn-logout {
  cursor: pointer;
  color: #fff;
}

.logo-wrap {
  display: flex;
  align-items: center;
  margin: unset;
  width: fit-content;
}


.form-post-media-buttons img {
  cursor: pointer;
}

@media (max-width: 414px) {
  section {
    width: 95%;
  }
}