:root {
  --primary-color: dodgerblue;
  --light-color: #fff; 
  --grey-color: #ddd;
  --color-danger: #ff0000;
  --light-grey: #fcfcfc
}

@font-face {
  font-family: 'rbt';
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
}

input, textarea, button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--grey-color);
  outline-color: var(--primary-color);
}

input[type="submit"], button {
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.msg-error {
  color: var(--color-danger);
  text-align: center;
  display: none;
}

.logo-wrap h1 {
  font-family: 'rbt';
  color: #fff;
  display: none;
}

h2 {
  text-align: center;
}

.logo-wrap {
  display: flex;
  align-items: center;
  margin: auto;
  width: fit-content;
}

.logo-wrap img {
  margin-right: 20px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

form h2 {
  color: #fff;
}